/* Base de boton */

.button {
  border: none;
  border-radius: 0.5em;
  font-size: 1em;
  line-height: 1em;
  font-weight: 500;
  text-transform: capitalize;
  padding: 0.75em 1em;
  cursor: pointer;

  display: flex;
  gap: 0.35em;
  justify-content: center;
  align-items: center;
}

.button-sm {
  font-size: 0.8em;
  padding: 0.5em 0.75em;
}

.button-lg {
  font-size: 1.1em;
  padding: 0.875em 1.5em;
}

.button-widht-full {
width: 100%;;
}

/* boton default */

.button-default {
  background-color: var(--default);
  color: var(--text);
}

.button--default:hover {
  background-color: var(--default-dark);
  color: var(--text);
}

.button-default:active {
  background-color: var(--default-darker);
  color: var(--text);
}

.button-default:focus {
  outline: 2px solid var(--info);
  outline-offset: 1px;
}

.button-default:disabled {
  background-color: var(--default);
  color: var(--text);
  opacity: 0.6;
  cursor: default;
}

/* Botones primarios */

.button-primary {
  background-color: var(--primary);
  color: var(--white);
}

.button-primary:hover {
  background-color: var(--primary-dark);
  color: var(--white);
}

.button-primary:active {
  background-color: var(--primary-darker);
  color: var(--white);
}

.button-primary:focus {
  outline: 2px solid var(--info);
  outline-offset: 1px;
}

.button-primary:disabled {
  background-color: var(--primary);
  color: var(--white);
  opacity: 0.6;
  cursor: default;
}

/* Botones Secundarios */

.button-secondary {
  background-color: var(---secondary);
  color: var(--white);
}

.button-secondary:hover {
  background-color: var(--secondary-dark);
  color: var(--white);
}

.button-secondary:active {
  background-color: var(--secondary-darker);
  color: var(--white);
}

.button-secondary:focus {
  outline: 2px solid var(--info);
  outline-offset: 1px;
}

.button-secondary:disabled {
  background-color: var(---secondary);
  color: var(--white);
  opacity: 0.6;
  cursor: default;
}
