.inputs {
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.inputs-default {
  border-radius: 6px;
}

::placeholder {
  color: var(--gray-400);
}

.inputs:focus {
  outline: 3px solid var(--info);
  outline-offset: 1px;
}
