.input {
  color: var(--gray-900);
  width: 100%; 
  font-size: 1rem;
  line-height: 1.25rem;
  padding: .5rem .75rem;
  border-radius: 6px;
  border: 1px solid var(--gray-700);
  background-color: var(--white);
}


.input::placeholder {
  color: var(--gray-400);
  font-weight: 300;
}

.input:focus {
  outline: 3px solid var(--info);
}

.input:invalid {
  border: 1px solid var(--error);
  color: var(--error);
}