/* Quitar subrayado en achor */
.text-decoration-none {
  text-decoration: none;
}

/* Modificadores de ul */

.list-style-none {
  list-style: none;
}

/* Margin left */
.ml-4 {
  margin-left: 1em;
}

.text-align-center {
  text-align: center;
}

/* Colores */

.color-primary {
  color: var(--primary);
}

.color-primary-dark {
  color: var(--primary-dark);
}

.bg-color-secondary-light {
  background-color: var(--secondary-light);
}

.bg-color-tertiary-light {
  background-color: var(--gray-200);
}

.bg-color-white {
  background-color: var(--white);
}

/* box-shadow button */

.box-shadow:hover {
  box-shadow: 0px 0px 50px var(--primary-light);
}

/* tambaleo animacion boton */

.tambaleo:hover {
  animation-name: tambaleo;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes tambaleo {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-2deg);
  }

  50% {
    transform: rotate(2deg);
  }

  75% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.contact-icon svg {
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 1rem;
}

.contact-icon-gh svg{
  width: 2.2rem;
  height: 2.35rem;

}

.contact-icon-itchio svg{
  width: 2.2rem;
  height: 2.35rem;

}

.repo-button{
margin-top: 40px;  
}