/* Quitar subrayado en achor */
.text-decoration-none {
  text-decoration: none;
}

/* Modificadores de ul */

.list-style-none {
  list-style: none;
}

/* Margin left */
.ml-4 {
  margin-left: 1em;
}

.text-align-center{
  text-align: center;
}

/* Colores */

.color-primary {
  color: var(--primary);
}

.color-primary-dark {
  color: var(--primary-dark);
}

.bg-color-secondary-light {
  background-color: var(--secondary-light);
}

.bg-color-tertiary-light {
  background-color: var(--gray-200);
}

.bg-color-white{
  background-color: var(--white);
}

.badges-portfolio-color{
  background-color: var(--pink-100);
}
