/* flexbox.css */
.item {
    display: inline;
    width: 100px;
    color: #DB2777;
    /* height: 100px; */
    /* background-color: orange; */
    border-radius: 8px;
    margin: 20px;
    /* text-align: center; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
  }

  .button{
    color: #FCE7F3;
    background-color: #DB2777;
    border-radius: 8px;
    margin: 20px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;

  

  }
  .name{
    color: #111827;
    margin-right: auto;
  }
  .item-sm {
    height: 40px;
  }
  
  .item-md {
    height: 100px;
  }
  
  .item-lg {
    height: 200px;
  }
  
  .item-xl {
    height: 300px;
  }
  
  .container {
    margin-top: 35px;
    padding: 5px;
    /* min-height: 400px; */
    /* background-color: #a534b6; */
  }
  
  .container--flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    /* flex-direction: row | row-reverse | column |  column-reverse; */
    /* flex-wrap: wrap | wrap-reverse | nowrap; */
    /* justify-content: center | space-between | space-evenly; */
  
  }