.header {
  background-color: var(--white);
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em 0;
}

.navbar-logo {
  color: var(--text);
}

.navbar-links {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  gap: 1em;
  align-items: center;
}

.navbar-links .link {
  text-decoration: none;
  color: var(--primary);
  padding: 0.25em 0.5em;
  gap: 0.625em;
  border-radius: 0.5em;
}

.navbar-links .link:hover {
  color: var(--primary-dark);
}

.navbar-links .link:active {
  color: var(--primary-darker);
}

.navbar-links .link:focus {
  outline: 2px solid var(--primary);
  outline-offset: 1px;
}

#menu-mobile,
#toggle-open,
#toggle-close {
  display: none;
}

@media only screen and (max-width: 430px) {
  #toggle-open,
  #toggle-close,
  .navbar {
    display: block;
  }

  .navbar-links {
    flex-direction: column;
    margin: 0;
    padding: 0.5rem 0;
  }

  .navbar-links li:last-child {
    width: 100%;
  }

  .navbar-links li:last-child a {
    margin: 0;
  }

  .expandable {
    display: none;
  }

  #menu-mobile:checked ~ .expandable {
    display: flex;
  }

  .navbar-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #toggle-close,
  #toggle-open {
    color: var(--secondary-darker);
  }

  #menu-mobile:not(:checked) ~ * #toggle-close,
  #menu-mobile:checked ~ * #toggle-open {
    display: none;
  }
}
