.homepage h1 {
  font-weight: 600;
  font-size: 58px;
  line-height: 58px;
  line-height: 120%;
  text-align: left;
}

.homepage p {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  margin-top: 16px;
}

.pink {
  color: var(--pink-600);
}

.presentation-bg {
  background-color: var(--stone-300);
  padding: 48px 0px;
}
